.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1164px;
  height: 69px;
  padding: 0 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-top: 38px;
  border-bottom: 2px solid #888484;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.notification {
  position: relative;
  font-size: 24px; 
}

.notification .badge {
  position: absolute;
  top: -4px;
  right: -5px;
  background: red;
  color: white;
  border-radius: 50%;
  padding: 1px 4px;
  font-size: 10px; 
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
}
